/*color pallete:
    maybe: #2c1e47
    amethyst: hsl(246, 36%, 7%)
    amethyst2: hsl(257, 35%, 10%)
*/

body {
    /*background-color: hsl(246, 36%, 7%);*/
    background-repeat: no-repeat;
    /*background: hsl(246, 36%, 7%) -webkit-gradient(linear, left top, left bottom, color-stop(0, hsl(246, 36%, 20%)), color-stop(1, hsl(246, 36%, 7%))) no-repeat;*/
    /*background: hsl(246, 36%, 7%) linear-gradient(to bottom, hsl(246, 36%, 15%) -10px, hsl(246, 36%, 7%) 250px) no-repeat;*/
    /*background: hsl(246, 36%, 7%);*/
    background: linear-gradient(270deg, hsl(257, 35%, 10%), hsl(256, 36%, 14%));
    color: whitesmoke;
    padding: 0px;
    margin: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Play', sans-serif;
    min-height: 100%;
    height: 100%;
}

.upLogoImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-top: -20px;
    filter: drop-shadow(0 0 50px rgba(251, 124, 50, 0.35));
}

.upLogoText {
    padding-top: 120px;
    margin-left: -80px;
    font-family: 'Play', sans-serif;
    /*font-family: 'Pacifico', cursive;*/
}

.upLogo {
    justify-content: center;
    display: flex;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.3);
    /*background: hsl(246, 36%, 7%) linear-gradient(to bottom, hsl(246, 36%, 15%) -10px, hsl(246, 36%, 7%) 250px) no-repeat;*/
    padding: 7px;
    height: 170px;
}

.upLogoSection {

}

.mainText{
    text-align: center;
}
.NameText {
    text-align: center;
    font-size: 20px;
}
.sBlocks {
    /*display: flex;
    justify-content:space-around;
    align-items:center;
    */
    display: grid;
    gap: 10px;
    grid-auto-flow: dense;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    /*grid-gap: 10px;*/
    grid-auto-rows: 260px;
    margin-left: 10px;
    margin-right: 10px;
    align-content:flex-end;
}
.sBlock:hover {
    overflow: hidden;
    background-color: hsl(246, 36%, 23%);
    /*background: linear-gradient(to bottom, hsl(246, 36%, 22%) -10px, hsl(246, 36%, 7%) 250px) no-repeat;*/
    cursor: pointer;
    color: whitesmoke;
    border-radius: 12px;
}
.sBlock:focus {
    overflow: hidden;
    box-shadow: 0 0 0 2px hsl(246, 36%, 30%), 7px 7px 10px rgba(0, 0, 0, 0.3), inset 7px 7px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
    z-index: 1;
    transform: translateY(-10px);
    color: whitesmoke;
    border-radius: 10px;
    height: var(--f-height);
    outline: none;
    cursor: auto;
    transition: box-shadow 250ms ease-in-out, height 250ms ease-in-out, background-color 250ms ease-in-out, transform 250ms ease-in-out, color 250ms ease-in-out, border-radius 250ms ease-in-out, z-index 0s ease-in-out;
}
.sBlock:after {
    margin-left: 0px;
    position: absolute;
    transform: translateX(-20px);
    bottom: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(to top, hsla(246, 36%, 16%, 1) 5%, hsla(246, 36%, 16%, 0) 50% );
    pointer-events: none; /* so the text is still selectable */
}

.sBlock:focus:after {
    margin-left: 0px;
    position: absolute;
    transform: translateX(-20px);
    bottom: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(to top, hsla(246, 36%, 16%, 1) 0%, hsla(246, 36%, 16%, 0) 0% );
    pointer-events: none; /* so the text is still selectable */
} 

.sBlock {
    z-index: 0;
    overflow: hidden;
    justify-self: center;
    width: 300px;
    height: 200px;
    transform: translateY(0px);
    display: flex;
    /*background: linear-gradient(to bottom, hsl(246, 36%, 15%) -10px, hsl(246, 36%, 7%) 250px) no-repeat;*/
    background-color: hsl(246, 36%, 16%);
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    transition: box-shadow 250ms ease-in-out, height 250ms ease-in-out, background-color 250ms ease-in-out, transform 250ms ease-in-out, color 250ms ease-in-out, border-radius 250ms ease-in-out, z-index 200ms ease-in-out;
    color: lightgray;
    flex-flow: column;
}   

.sBlockName {
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 3px;
}

.sBlockImagesUp {
    text-align: center;
}

.sBlockSmallImage {
    transform: translateY(5px);
    margin-bottom: 0px;
    justify-self: center;
}

.sBlockText {
    font-size: 16px;
}

.sBlockUpSide {
    flex-flow: initial;
    align-self: center;
}


@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}
span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    /*background-color: rgba(255, 255, 255, 0.2);*/
    background-color: hsla(256, 98%, 73%, 0.2);
}

.bottomShadow {
    margin-top: 43px;
    min-height: 10px;
    box-shadow: 0px -7px 10px rgba(0, 0, 0, 0.3);
}
.topShadow {
    margin-bottom: 43px;
    min-height: 10px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.3);
}

.footer {
    font-family: Arial;
    color: lightgray;
    background-color: hsla(246, 0%, 0%, 0.2);
    clear: both;
    position: relative;
    height: 120px;
    margin: 0px;
    padding: 6px;
    /*margin-top: -200px;*/
}





    
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background-color: hsl(246, 36%, 10%);
}
body::-webkit-scrollbar-thumb {
    /*background-image: linear-gradient(180deg, #D0368A 0%, #708AD4 99%);*/
    background-image: linear-gradient(180deg, hsl(257, 47%, 57%) 0%, hsl(246, 42%, 53%) 99%);
    border-radius: 2px;
    /*transition: 10s background-image; don't work :( */ 
}
body::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(180deg, hsl(256, 34%, 47%) 0%, hsl(246, 42%, 43%) 99%);
}
    