body {
    /*background-color: hsl(246, 36%, 7%);*/
    background-repeat: no-repeat;
    /*background: hsl(246, 36%, 7%) -webkit-gradient(linear, left top, left bottom, color-stop(0, hsl(246, 36%, 20%)), color-stop(1, hsl(246, 36%, 7%))) no-repeat;*/
    /*background: hsl(246, 36%, 7%) linear-gradient(to bottom, hsl(246, 36%, 15%) -10px, hsl(246, 36%, 7%) 250px) no-repeat;*/
    background: hsl(246, 36%, 7%);
    color: whitesmoke;
    padding: 0px;
    margin: 0px;
    overflow-y: auto;
    font-family: 'Play', sans-serif;
}

.upLogoImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-top: -20px;
}

.upLogoText {
    padding-top: 120px;
    margin-left: -80px;
    font-family: 'Play', sans-serif;
    /*font-family: 'Pacifico', cursive;*/
}

.upLogo {
    justify-content: center;
    display:flex;
    background: hsl(246, 36%, 7%) linear-gradient(to bottom, hsl(246, 36%, 15%) -10px, hsl(246, 36%, 7%) 250px) no-repeat;
    padding: 7px;
    height: 170px;
}

.upLogoSection {

}

.mainText{
    text-align: center;
}
.sBlocks {
    /*display: flex;
    justify-content:space-around;
    align-items:center;
    */
    display: grid;
    gap: 10px;
    grid-auto-flow: dense;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    /*grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);*/
    margin-left: 10px;
    margin-right: 20px;
}
.sBlock:hover {
    background-color: hsl(246, 36%, 20%);
    /*background: linear-gradient(to bottom, hsl(246, 36%, 22%) -10px, hsl(246, 36%, 7%) 250px) no-repeat;*/
    transform: translateY(-10px);
    cursor: pointer;
    color: whitesmoke;
    border-radius: 30px;
}
.sBlock {
    justify-self: center;
    width: 300px;
    height: 200px;
    /*background: linear-gradient(to bottom, hsl(246, 36%, 15%) -10px, hsl(246, 36%, 7%) 250px) no-repeat;*/
    background-color: hsl(246, 36%, 10%);
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.3);
    border-radius: 40px;
    padding: 20px;
    margin: 10px;
    transition: background-color 250ms ease-in-out, transform 250ms ease-in-out, color 250ms ease-in-out, border-radius 250ms ease-in-out;
    color: lightgray;
}
    
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background-color: hsl(246, 36%, 10%);
}
body::-webkit-scrollbar-thumb {
    /*background-image: linear-gradient(180deg, #D0368A 0%, #708AD4 99%);*/
    background-image: linear-gradient(180deg, hsl(257, 47%, 57%) 0%, hsl(246, 42%, 53%) 99%);
    border-radius: 2px;
    /*transition: 10s background-image; don't work :( */ 
}
body::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(180deg, hsl(256, 34%, 47%) 0%, hsl(246, 42%, 43%) 99%);
}
    