/*color pallete:
    maybe: #2c1e47
    amethyst: hsl(246, 36%, 7%)
    amethyst2: hsl(257, 35%, 10%)
    hsl(231, 16%, 17%)
    hsl(231, 16%, 14%)
*/

:root {
    --mpos-x: 0;
    --mpos-y: 0;
}

body {
    /*background-color: hsl(246, 36%, 7%);*/
    background-repeat: no-repeat;
    /*background: hsl(246, 36%, 7%) -webkit-gradient(linear, left top, left bottom, color-stop(0, hsl(246, 36%, 20%)), color-stop(1, hsl(246, 36%, 7%))) no-repeat;*/
    /*background: hsl(246, 36%, 7%) linear-gradient(to bottom, hsl(246, 36%, 15%) -10px, hsl(246, 36%, 7%) 250px) no-repeat;*/
    /*background: hsl(247, 5%, 10%);*/
    /*background: linear-gradient(270deg, hsl(257, 5%, 10%), hsl(257, 5%, 10%));*/
    color: whitesmoke;
    padding: 0px;
    margin: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Play', sans-serif;
    min-height: 100%;
    background: radial-gradient(800px 800px at var(--x) var(--y), hsl(231, 16%, 15%), hsl(231, 16%, 14%));
    height: 100%;
}

#helpPanel {
    position: fixed;
    margin: 0px;
    height: 40px;
    width: 100%;
    background-color: hsla(257, 10%, 16%, 0.5);
    border-right: solid 2px hsla(246, 36%, 55%, 0.3);
    box-shadow: 0 0 0 2px hsl(246, 36%, 30%);
    z-index: 100;
    backdrop-filter: blur(1.5rem);
    transition: width 250ms ease-out;
    overflow: hidden;
}
.helpPanelHidden {
    animation: hideUpPanel 250ms ease-out forwards;
}
@keyframes hideUpPanel {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-70px);
    }
}

.helpPanelShown {
    animation: showUpPanel 250ms ease-out forwards;
}
@keyframes showUpPanel {
    from {
        transform: translateY(-70px);
    }
    to {
        transform: translateY(0px);
    }
}

.upLogoImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-top: -20px;
    filter: drop-shadow(0 0 50px rgba(251, 124, 50, 0.35));
}

.upLogoText {
    padding-top: 120px;
    margin-left: -80px;
    font-family: 'Play', sans-serif;
    /*font-family: 'Pacifico', cursive;*/
}

.upLogo {
    justify-content: center;
    display: flex;
    box-shadow: 0 2px hsl(246, 36%, 30%);
    /*background: hsl(246, 36%, 7%) linear-gradient(to bottom, hsl(246, 36%, 15%) -10px, hsl(246, 36%, 7%) 250px) no-repeat;*/
    padding: 7px;
    height: 170px;
}

.upLogoSection {

}

.mainText{
    text-align: center;
}
.NameText {
    text-align: center;
    font-size: 20px;
    /*background: hsl(246, 36%, 30%);*/
    /*width: 100px;*/
}

.NameText:after {
    box-shadow: 0px 2px hsl(246, 36%, 30%);
}
#blockLine {
    width: calc(100% + 40px);
    transform: translateX(-20px);
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 2px;
}

.sBlocks {
    /*display: flex;
    justify-content:space-around;
    align-items:center;
    */
    width: 80%;
    max-width: 1200px;
    min-width: 360px;
    display: grid;
    gap: 10px;
    grid-auto-flow: dense;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    /*grid-gap: 10px;*/
    grid-auto-rows: 260px;
    margin: auto;
    align-content: flex-end;
    box-shadow: 4px 0px 0px -2px hsl(246, 36%, 30%), -4px 0px 0px -2px hsl(246, 36%, 30%);
    /*perspective: 900px;*/
}

.pBlocks {
    width: calc(80% - 40px);
    max-width: 1160px;
    min-width: 360px;
    margin: auto;
    align-content: flex-end;
    box-shadow: 4px 0px 0px -2px hsl(246, 36%, 30%), -4px 0px 0px -2px hsl(246, 36%, 30%);
    padding: 20px;
    text-align: center;
}

.sBlock:hover {
    overflow: hidden;
    background-color: hsl(231, 16%, 20%);
    /*background: linear-gradient(to bottom, hsl(246, 36%, 22%) -10px, hsl(246, 36%, 7%) 250px) no-repeat;*/
    cursor: pointer;
    color: whitesmoke;
    border-radius: 12px;
    /*transform: rotateX(-8deg);*/
}
.sBlock:focus {
    overflow: hidden;
    /*box-shadow: 0 0 0 2px hsl(246, 36%, 30%), 7px 7px 10px rgba(0, 0, 0, 0.3), inset 7px 7px 10px rgba(0, 0, 0, 0.2);*/
    box-shadow: 0 0 0 2px hsl(246, 36%, 30%), 0px 2px 4px rgba(0, 0, 0, 0.3), 0px 0px 30px 2px hsl(246, 36%, 65%, 0.2), 0px 0px 60px 4px hsl(246, 36%, 50%, 0.2), 0px 0px 100px 6px hsl(246, 36%, 40%, 0.2);
    transform: translateY(-10px);
    z-index: 1;
    transform: translateY(-10px);
    color: whitesmoke;
    border-radius: 10px;
    height: var(--f-height);
    outline: none;
    cursor: auto;
    transition: box-shadow 250ms ease-in-out, height 250ms ease-in-out, background-color 250ms ease-in-out, transform 250ms ease-in-out, color 250ms ease-in-out, border-radius 250ms ease-in-out, z-index 0s ease-in-out;
}
.sBlock:after {
    margin-left: 0px;
    position: absolute;
    transform: translateX(-20px);
    bottom: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(to top, hsla(231, 16%, 17%, 1) 5%, hsla(231, 16%, 17%, 0) 50% );
    pointer-events: none; /* so the text is still selectable */
}

.sBlock:focus:after {
    margin-left: 0px;
    position: absolute;
    transform: translateX(-20px);
    bottom: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(to top, hsla(231, 16%, 17%, 1) 0%, hsla(231, 16%, 17%, 0) 0% );
    pointer-events: none; /* so the text is still selectable */
}

.sBlock {
    z-index: 0;
    overflow: hidden;
    justify-self: center;
    width: 300px;
    height: 200px;
    transform: translateY(0px);
    display: flex;
    /*background: linear-gradient(to bottom, hsl(246, 36%, 15%) -10px, hsl(246, 36%, 7%) 250px) no-repeat;*/
    /*background-color: hsl(246, 36%, 16%);*/
    background-color: hsl(231, 16%, 17%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    transition: box-shadow 250ms ease-in-out, height 250ms ease-in-out, background-color 250ms ease-in-out, transform 250ms ease-in-out, color 250ms ease-in-out, border-radius 250ms ease-in-out, z-index 200ms ease-in-out;
    color: lightgray;
    flex-flow: column;
}

.sBlockName {
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 3px;
    display: inline;
    white-space: nowrap;
}

.sBlockImagesUp {
    text-align: center;
}

.sBlockSmallImage {
    transform: translateY(5px);
    margin-bottom: 0px;
    margin-left: 8px;
    justify-self: center;
    float: right;
    transform: translateY(0px);
}

.sBlockText {
    font-size: 16px;
    margin-top: 4px;
}
.sBlockUpSide {
    flex-flow: initial;
    align-self: center;
    width: 100%;
}

    

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}
span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    /*background-color: rgba(255, 255, 255, 0.2);*/
    background-color: hsla(256, 98%, 73%, 0.2);
}

span.rippleOut {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    /*background-color: rgba(255, 255, 255, 0.2);*/
    background-color: hsla(256, 98%, 73%, 0.2);
}

.bottomShadow {
    margin-top: 43px;
    min-height: 10px;
    box-shadow: 0px 2px hsl(246, 36%, 30%);
}
.topShadow {
    margin-bottom: 43px;
    min-height: 10px;
    /*box-shadow: 0 2px hsl(246, 36%, 30%);*/
    /*box-shadow: 0px 2px hsl(246, 36%, 30%);*/
}

.footer {
    font-family: Arial;
    color: lightgray;
    background-color: hsla(246, 0%, 0%, 0.2);
    clear: both;
    position: relative;
    height: 200px;
    margin: 0px;
    padding: 6px;
    /*margin-top: -200px;*/
}

#link {
    color: hsl(180, 78%, 48%);
    cursor: pointer;
}
#link:hover {
    text-decoration: underline;
}



/*custom selection color*/
::-moz-selection { /* Code for Firefox */
    /*color: red;*/
    background: hsl(180, 100%, 23%);
}

::selection {
    /*color: red;*/
    background: hsl(180, 100%, 23%);
}



/*custom scrollbar*/
body::-webkit-scrollbar {
    width: 7px;
}
body::-webkit-scrollbar-track {
    background-color: hsl(246, 12%, 14%);
}
body::-webkit-scrollbar-thumb {
    /*background-image: linear-gradient(180deg, #D0368A 0%, #708AD4 99%);*/
    background-image: linear-gradient(180deg, hsl(257, 47%, 40%) 0%, hsl(246, 42%, 36%) 99%);
    border-radius: 2px;
    /*transition: 10s background-image; don't work :( */ 
}
body::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(180deg, hsl(256, 34%, 47%) 0%, hsl(246, 42%, 43%) 99%);
}
    